div.navbar.navbar-default(ng-hide='vm.hide')
   div.container-fluid

      div.navbar-header
         button.navbar-toggle(type='button', ng-click='vm.isCollapsed = !vm.isCollapsed')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a.navbar-brand.hidden-xs(href='/') Sistemium
         a.navbar-brand.visible-xs(href='' ng-click='vm.onBrandClick()' ng-if='vm.currentItem') {{vm.currentItem.title}}

      ul.nav.navbar-nav.navbar-right.float-right

         li(ng-hide='vm.auth.isLoggedIn()' ui-sref-active='active')
            a(ui-sref='login') Вход

         li(ng-if='vm.auth.isLoggedIn()' ui-sref-active='active')
            a(href='' ng-click='vm.onProfileClick()') {{ vm.auth.getCurrentUser().shortName || 'Введите имя' }}

      //div#navbar-main.navbar-collapse.collapse(uib-collapse='vm.isCollapsed')
         ul.nav.navbar-nav
            li.hidden-ios(ui-sref-active='active')
               a(ui-sref='{{vm.menu.state}}') {{vm.menu.title}}
            li.hidden-ios.divider(role="separator")
            li.hidden-ios(ng-repeat='item in vm.menu.items', ui-sref-active='active')
               a(ui-sref='{{item.state}}') {{item.title}}
            li.divider.visible-xs(role="separator" ng-if='vm.toggleFullScreen')
            li(ng-if='vm.toggleFullScreen')
               a(href='' ng-click='vm.toggleFullScreen()')
                  i.glyphicon.glyphicon-fullscreen
