.mdl-layout.mdl-js-layout
    main.mdl-layout__content
        .section-title.mdl-typography--display-1-color-contrast(translate) About
        .mdl-grid
            .mdl-card.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-cell--4-col-phone.mdl-shadow--2dp
                .mdl-card__title
                    h2.mdl-card__title-text(translate) History
                .mdl-card__supporting-text(translate) Some info about Sistemium company.
                .mdl-card__title
                    h2.mdl-card__title-text(translate) Contacts
                .mdl-card__supporting-text(translate) Sistemium contacts.
                .mdl-card__title
                    h2.mdl-card__title-text(translate) Address and Map
                .mdl-card__supporting-text(translate) Sistemium address and map.
