.mdl-layout.mdl-js-layout
    main.mdl-layout__content
        .mdl-grid
            .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-shadow--2dp(
            ng-repeat='project in vm.projectsData'
            )
                .stm-mdl-projectcard__title.mdl-card__title(
                ng-style="{'background-image': 'url(' + project.imageUrl + ')', 'background-color': project.bgColor}"
                )
                .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {{project.shortDescription}}
