.mdl-layout.mdl-js-layout
    main.mdl-layout__content
        .mdl-grid
            .mdl-card.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-shadow--2dp(
            ng-repeat='staffDatum in vm.staffData'
            )
                .mdl-card__title
                    h2.mdl-card__title-text {{staffDatum.name}}
                .mdl-grid
                    .mdl-card__supporting-text.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone {{staffDatum.position}}
                    .stm-mdl-staffcard__image.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
                        img(
                        ng-src="{{staffDatum.photoUrl}}"
                        height="128"
                        width="128"
                        )
                .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {{staffDatum.shortDescription}}
