div(class="mdl-layout mdl-js-layout")
   main(class="mdl-layout__content")
      div(class="mdl-grid")
         div(class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp")
            div(class="mdl-card__title")
               h2(class="mdl-card__title-text") Technologies
            div(class="mdl-card__supporting-text") ...
