.mdl-layout.mdl-js-layout
    main.mdl-layout__content
        .section-title.mdl-typography--display-1-color-contrast(translate) Technologies
        .mdl-grid
            .mdl-card.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-cell--4-col-phone.mdl-shadow--2dp
                .mdl-card__title
                    h2.mdl-card__title-text(translate) List of used technologies
                .mdl-card__supporting-text ...
